body{
    background-color: black;
}
img{
    width: 100%;
}
i{
    font-size: 45px;
    
}
p{
    margin: 0;
}
span{
    font-weight: 700;
}
.contenedor{
    margin: 0 auto;
    max-width: 500px;
    background-color: white;
}
.header-izquierda, .iconos{
    display: flex;
    justify-content: space-between;
    align-items:center;
}
.izquierda-icono{
    padding: 10px;
}
.derecha {
    display: flex;
    align-items: center;
    padding: 10px;
}
.derecha i{
    font-size: 30px;
}
.header{
    display: flex;
    justify-content: space-between;
}

.iconos i{
    font-size: 30px;
}
.likes, .texto{
    padding: 10px;
}
.abajo{
    padding: 10px;
    padding-top: 5px;
}
.texto{
    padding-top: 0;
}