body{
    background-color: black;
}
img{
    width: 100%;
}
i{
    font-size: 45px;
    
}
p{
    margin: 0;
}
span{
    font-weight: 700;
}
.contenedor{
    margin: 0 auto;
    max-width: 70%;
    background-color: white;
}
.header-izquierda{
    display: flex;
    justify-content: space-between;
    align-items:center;
}
.izquierda-icono{
    padding: 10px;
}
.derecha {
    display: flex;
    align-items: center;
    padding: 10px;
}
.header{
    display: flex;
    justify-content: space-between;
}
